<div fxLayout="row">
  <mat-card (click)="openDialog(item)" *ngFor="let item of recipes" fxFlex="20">
    <mat-card-header>
      <mat-card-title><h3 style="color: white">{{item?.name}}</h3></mat-card-title>
      <mat-card-subtitle>{{item?.description}}</mat-card-subtitle>
    </mat-card-header>
    <img class="recipe-image" mat-card-image [src]="item?.imageUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <ol>
        <li *ngFor="let ingredient of item?.ingredients">{{ingredient.name}}</li>
      </ol>
      <h4>{{item?.cookingTime}}</h4>
    </mat-card-content>
  </mat-card>
</div>
